@font-face {
  font-family: DejaVuSerif;
  src: url(data/DejaVuSerif.ttf);
}

@font-face {
  font-family: DejaVuSans;
  src: url(data/DejaVuSans.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  cursor: crosshair;
  background-color: rgb(247, 247, 247);
}

#contentContainer {
  width: 42vw;
  min-height: 22vw;
  position: fixed;
  bottom: 15vw;
  left: 50%;
  transform: translate(-50%, 0);
  /* border: 3px solid black; */
  border-radius: 40px;
  background-color: #F28705;
  
}

#generatedContent {
  font-family: DejaVuSerif, 'Times New Roman', Times, serif;
  color: white;
  font-size: 2.2vw;
  padding-left: 5%;
  padding-right: 5%;
}


button {
  position: fixed;
  bottom: 10vw;
  left: 50%;
  transform: translate(-50%, 0);

  border: none;
  background-color: #6B71F2;
  color: white;
  font-family: DejaVuSans, Arial, Helvetica, sans-serif;
  font-size: 1.8vw;
  padding: 0.5vw 1.3vw;
  border-radius: 72px;
  transition-duration: 0.2s;
  box-sizing: border-box;
  vertical-align: middle;

}

button:hover {
  cursor: pointer;
  background-color: #8857F2;
}

button:active {
  padding: 0.6vw 1.4vw;
  background-color: #8857F2;
  cursor: grabbing;
}


@media screen and (max-width: 600px) {


#contentContainer {
  width:86vw;
  min-height: 40vh;
  position: fixed;
  bottom: 40vw;
}

#generatedContent {
  font-size: 6.5vw;;
}

button {
  font-size: 8vw;
  padding: 4vw 8vw;
  transition-duration: 0.2s;
  box-sizing: border-box;
  vertical-align: middle;

  position: fixed;
  bottom: 7vw;

}

button:hover {
  cursor: pointer;
  background-color: #8857F2;
}

button:active {
  padding: 5vw 9vw;
  background-color: #8857F2;
  cursor: grabbing;
}


}